<script setup lang="ts">
import config from "./questionnaire.json";

import { reactive, ref } from "vue";

let currentPageId = ref(0)
let resultPageId: number = config.pages[config.pages.length-1].pageId //result page id
let currentScore = ref(0)
let lastEnteredScore = ref(0)

function setCurrentPageId(currentPage: number) {
  currentPageId.value = currentPage
}

function setCurrentScore(lastScore: number) {
  lastEnteredScore.value = lastScore;
  currentScore.value += lastScore;
}

function getEndResult() {
  for (let i = 0; i < config.pages[resultPageId].results.length; i++) {
    if (config.pages[resultPageId].results[i].neededScore == currentScore.value) {
      return config.pages[resultPageId].results[i].text
    }
  }
}

</script>

<template>
  <h1>{{ config.pages[currentPageId].pageName }}</h1>
  <hr>

  <ul v-for="questionnaire in config.pages[currentPageId].questions" :key="questionnaire.id">
    <button v-if="config.pages[currentPageId].pageId != resultPageId" @click="setCurrentPageId(questionnaire.nextPageId), setCurrentScore(questionnaire.score)">{{ questionnaire.text }}</button>
  </ul>

  <h2 v-if="config.pages[currentPageId].pageId == resultPageId">{{ getEndResult() }}</h2>
  <hr>
  <button v-if="config.pages[currentPageId].pageId == resultPageId" @click="setCurrentPageId(0), setCurrentScore(-currentScore)">Neu Anfangen</button>
  <h5>{{ "Frage: " + config.pages[currentPageId].pageId + " von " + resultPageId }}</h5>
</template>